@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: new;
    src: url(./assets/NeueMontreal-Regular.otf);
}

*{
    font-family: new;
}

body{
    overflow-x: hidden;
}